* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("imgs/winery.jpg");
	background-size: cover;
	font-family: Arial;
	font-size: 22px;
}


#vsebina {	
	position: absolute;
	left: 55%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#myCanvas {
	padding: 10px;
	background: rgba(250, 250, 250, 0.7);	
	border: black 3px solid;
}


